.content {
    background-color: cadetblue;
    overflow: auto;
    .header {
        padding: 24px;
        background-color: #e5e1e130;
        color: #ffffff;
        border-radius: 20px;
        margin-top: 10px;
    }
}

.container {
  min-height: 92.1vh;
}
