.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.user-generator-button {
    background-color: lightcyan;
    border-color: aquamarine;
    border-width: medium;
    color: black;
    font-weight: 400;
}

.user-profile {
    border-color: #999;
    background-color: #f1f1f1;
    height: 100%;
    .user-image {
        img {
            width: 100%;
        }
    }

    .action-buttons {
        margin-top: 15px;
        margin-left: auto;
    }

    small {
        display: block;
        line-height: 1.428571429;
        color: #999;
    }

}

.user-profile-detail {
    border-color: #999;
    background-color: #f1f1f1;
    min-height: 230px;
}

.flag {
  width: 18px;
  height: 16px;
}

@media(max-width: 767px) and (min-width: 366px) {
    button.user-generator-button {
        padding: 0.0em 0.2em !important;
    }

    button.collapse-btn, button.expand-btn, button.remove-btn {
        padding: 0.2em 0.3em !important;
    }
}

@media(max-width: 365px) {
    button.collapse-btn, button.expand-btn, button.remove-btn {
        padding: 0.0em 0.1em !important;
    }
}