.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.user-profile {
    background-color: #f1f1f1;
    height: 100%;
    .user-image {
        img {
            width: 100%;
        }
    }

    .action-buttons {
        margin-top: 15px;
        margin-left: auto;
    }

    small {
        display: block;
        line-height: 1.428571429;
        color: #999;
    }

}

.user-profile-detail {
    background-color: #f1f1f1;
    min-height: 230px;
}
