<div class="container-fluid px-0">
  <div class="row mb-2">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <button mat-raised-button class="mr-1" color="primary" (click)="generateUsers()">Regenerate New Users</button>
        <button mat-raised-button class="mr-1" color="primary" (click)="removeAllUsers()">Remove All Users</button>
        <button mat-raised-button class="mr-1" color="primary" (click)="toggleAllUsers()">{{allUsersExpanded ? 'Collapse' : 'Expand'}} All Users</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="users && users.length > 0 else noUsers">
    <div class="row mb-1" *ngFor="let user of users; let i = index;">
      <div class="col-12 px-2">
        <app-user-card [user]="user"
                       [countries]="countries"
                       (deleteUser)="deleteUser($event)"></app-user-card>
      </div>
    </div>
  </ng-container>
  <ng-template #noUsers>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="card card-body user-profile-detail">
          <span>Sorry, no users found. Please regenerate new users </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
